body{
    box-shadow: 50px 80px 100px black;
    padding: auto;
    margin-top: 0%;
    box-shadow:-20px 20px 50px 15px grey;
    width: 1000px;
    position: absolute; left: 250px; right: 80px;
    
}
.top-container{
    text-align: center;
    justify-content: center;
    color:black;
    font-size: 150%;
    background-color: gray;
    padding: 10px;
    margin-top: 0%;
    height: 50px;
    position: relative; left: 0px; right: 80px;
}

h3{
    border-style: none dotted none dotted ;
    
    position: absolute; bottom: 15px; top: -5px; left: 450px;
}
.Image1{
    box-shadow: rgb(0,1, 0.05);
    align-items: center;
    justify-content: center;
    margin-right: 0%;
    margin-top: -1.6%;
    position: relative; left: 0px; right: 50px; top: 16px; bottom: 40px;

}

.Image2{ 

    align-items: center;
    justify-content: center;
    
    position: relative; left: 0px; right: 50px; top: 16px; bottom: 40px;
}

.Image3{
    align-items: center;
    justify-content: center;
    position: relative; left: 0px; right: 50px; top: 16px; bottom: 40px;
}

.Image4{
    align-items: center;
    justify-content: center;
    position: relative; left: 0px; right: 50px; top: 16px; bottom: 40px;
}


.Image5{
    align-items: center;
    justify-content: center;
    position: relative; left: 0px; right: 50px; top: 16px; bottom: 40px;
}
.text{
    font-size: 150%;
    
}
h2{
    align-items: center;
    justify-content: center;
}
.bottom-container{
    box-shadow:20px 20px 50px 15px grey;
}